<template>
    <div class="drop-zone-container">
        <CardContainer @drop="onDrop($event, 0)" @dragenter.prevent @dragover.prevent id="drop-zone-1">
            <Card v-for="patient in getList(0)" :key="patient.id" :item="patient" @dragstart="startDrag($event, patient)"/>
        </CardContainer>
    
        <CardContainer @drop="onDrop($event, 1)" @dragenter.prevent @dragover.prevent id="drop-zone-2">
            <Card v-for="patient in getList(1)" :key="patient.id" :item="patient" @dragstart="startDrag($event, patient)"/>
        </CardContainer>
    </div>
</template>

<script>
import { mapWritableState } from 'pinia';
import CardContainer from '../components/CardContainer.vue';
import Card from '../components/Card.vue';    
import {usePatientStore} from "../stores/cardState";
    export default {
    created() {
        if (this.patients.length > 0) {
            return;
        }
        fetch("https://build.fhir.org/patient-example.json").then((res) => res.json()).then((data) => {
            console.log(data);
            let { name: humanNames, gender, address: addresses, birthDate } = data;
            let address = "";
            if (addresses.length > 0) {
                address = addresses[0].text;
            }
            let name = "unknown"; //default value
            if (humanNames.length > 0) {
                const usagePrecedence = ["usual", "official", "temp", "nickname", "anonymous", "old", "maiden"];
                let chosenName = [];
                for (const use of usagePrecedence) {
                    chosenName = humanNames.filter((humanName) => humanName.use === use);
                    if (chosenName.length > 0) {
                        break;
                    }
                }
                if (chosenName.length > 0) {
                    name = `${chosenName[0]?.given?.join(" ") ?? ""} ${chosenName[0]?.family ?? ""}`;
                }
            }
            this.patients = ([
                {
                    id: 0,
                    name,
                    gender,
                    list: 0
                },
                {
                    id: 1,
                    name,
                    birthDate,
                    list: 0
                },
                {
                    id: 2,
                    name,
                    address,
                    list: 1
                }
            ]);
        }).catch((err) => {
            console.log(err);
            this.patients = ([]);
        });
    },
    unmounted() {

    },
    methods: {
        getList(list) {
            console.log(this.patients);
            return this.patients.filter(item => item.list === list);
        },
        startDrag(event, item) {
            console.log(item);
            event.dataTransfer.dropEffect = 'move';
            event.dataTransfer.effectAllowed = 'move';
            event.dataTransfer.setData('itemID', item.id);
        },
        onDrop(event, list) {
            const itemID = event.dataTransfer.getData('itemID');
            const currentItem = this.patients.find((item) => item.id == itemID);
            console.log({itemID, currentItem})
            currentItem.list = list;

        }
    },
    computed: {
        ...mapWritableState(usePatientStore, ['patients'])
    },
    components: { CardContainer, Card }
}
</script>

<style>
    .drop-zone-container {
        display: flex;
        flex-direction: row;
    }
</style>