<script>
  export default {
    data() {
      return {
        currentTime: '',
      }
    },
    mounted() {
      this.currentTime = new Date().toLocaleString("en-GB");
    }
  }
</script>

<template>
  <div>Hello, this is the onboarding assignment!<br />
    Current Time: {{currentTime}}</div>
  
</template>
