<template>
    <div class="drop-zone">
        <slot></slot>
    </div>    
</template>

<script>
export default {
    props: {
        items: Array
    },
}
</script>

<style>
.drop-zone {
    display: flex;
    background: black;
    min-height: 40px;
    height: fit-content;
    min-width: calc(300px + 10px);
    margin: 60px;
    flex-direction: column;
}
</style>