<template>
    <div class="drag-el" draggable="true">
        <p id="card-name">Name: {{item.name ?? "unknown"}}</p>
        <p v-if="!!item.gender" id="card-gender">Gender: {{item.gender}}</p>
        <p v-if="!!item.birthDate" id="card-birthdate">Birthdate: {{item.birthDate}}</p>
        <p v-if="!!item.address" id="card-address">Address: {{item.address}}</p>
    </div>
</template>

<script>
    export default {
        props: {
            item: Object,
        },
    }
</script>

<style>
.drag-el {
    background-color: white;
    min-height: 200px;
    width: 300px;
    margin: 10px;
}
</style>